#
# Server information
#

ServerInfo__HostName=[CTF] Capture The Flag | Team Deathmatch | [TDM]
ServerInfo__LanguageText=English
ServerInfo__GameModeText=CTF/Team Deathmatch [v10]
ServerInfo__MapName=RC_Battlefield
ServerInfo__WebUrl=https://github.com/DevD4v3/Capture-The-Flag

#
# Gameplay
#

# Specifies the weapon catalog used by the server.
# Valid values: Walking, Run, Mixed, RifleOnly, War, Heavy.
WeaponCatalog__Type=Walking

# Expressed in seconds.
FlagCarrier__PauseTime=30
FlagCarrier__ShowOnRadarMap=true

# Expressed in seconds.
FlagAutoReturn__Delay=120

# Expressed in minutes.
CommandCooldowns__Health=3
CommandCooldowns__Armour=3
CommandCooldowns__Coins=3

TopPlayers__RequiredTotalKills=150
TopPlayers__RequiredMaxKillingSpree=10
AntiCBug__Disabled=false

#
# Server owner
#

ServerOwner__Name=DevD4v3
# Specifies the secret key used to authenticate the server owner.
ServerOwner__SecretKey=

#
# Database
#

MariaDB__Server=mariadb
MariaDB__Port=3306
MariaDB__Database=gamemode
MariaDB__UserName=root
MariaDB__Password=123456789

SQLite__DataSource=scripts/sqlite/gamemode.db

# Specifies the database provider used by the server.
# Valid values: InMemory, MariaDB, SQLite.
DatabaseProvider=InMemory

#
# Audio
#

ClassSelection__IntroAudioUrl=https://od.lk/s/Nl8yMDg4MTc0NDBf/intro-cs.mp3
Headshot__AudioUrl=https://od.lk/s/Nl8yMTE2ODQ3MTVf/headshot.mp3

#
# Team sounds
#

# Alpha team sounds
RedFlagDroppedUrl=https://od.lk/s/Nl8yMDg4MTc0MzNf/red_flag_dropped.mp3
RedFlagReturnedUrl=https://od.lk/s/Nl8yMDg4MTc0MzRf/red_flag_returned.mp3
RedFlagTakenUrl=https://od.lk/s/Nl8yMDg4MTc0MzVf/red_flag_taken.mp3
RedTeamScoresUrl=https://od.lk/s/Nl8yMDg4MTc0MzZf/red_team_scores.mp3
# Beta team sounds
BlueFlagDroppedUrl=https://od.lk/s/Nl8yMDg4MTc0Mjlf/blue_flag_dropped.mp3
BlueFlagReturnedUrl=https://od.lk/s/Nl8yMDg4MTc0MzBf/blue_flag_returned.mp3
BlueFlagTakenUrl=https://od.lk/s/Nl8yMDg4MTc0MzFf/blue_flag_taken.mp3
BlueTeamScoresUrl=https://od.lk/s/Nl8yMDg4MTc0MzJf/blue_team_scores.mp3

#
# open.mp
#

# The password used to lock the server.
ServerPassword=
# The password used to administrate the server and use the remote console (rcon).
RconPassword=343433%%$%%
# Maximum number of players allowed on the server.
MaxPlayers=30
# Enables lag compensation.
LagCompMode=1

#
# Docker
#

# Port exposed by the container.
Port=7777
# Server time zone.
TZ=America/Bogota
# Maximum memory available to the Docker container.
MemoryLimit=254m

#
# Discord integration
#

# Optional. Discord webhook URL used to send server notifications.
DISCORD_WEBHOOK_URL=